<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- jQuery -->
<script src="/webjars/AdminLTE/plugins/jquery/jquery.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		var url = window.location;

		$('.nav-sidebar a').filter(function() {

			return this.href == url;
		}).addClass('active');

	});

</script>


<!-- Brand Logo -->
<a href="/admin" class="brand-link">
	<img src="/webjars/AdminLTE/dist/img/AdminLTELogo.png" alt="! Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
	<span class="brand-text font-weight-light">HyperMSLK</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
	<!-- Sidebar user panel (optional) -->
	<div class="user-panel mt-3 pb-3 mb-3 d-flex">
		<div class="image">
			<img src="/images/member/default-profile.png" class="img-circle elevation-2" alt="User Image">
		</div>
		<div class="info">
			<a href="#" class="d-block"><span sec:authentication="name"></span> 입니다. </a>
		</div>
	</div>


	<!-- Sidebar Menu -->
	<nav class="mt-2">
		<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
			<!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
			<li class="nav-header">DashBoard 관리</li>
			<li class="nav-item">
				<a href="/admin/dbmnglist" target="_top" class="nav-link">
					<i class="nav-icon fas fa-plug"></i>
					<p>
						대쉬보드 생성
					</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/sns/main" class="nav-link">
					<i class="nav-icon fas fa-plug"></i>
					<p>
						대쉬보드 연결
					</p>
				</a>
			</li>

			<li class="nav-header">사용자 관리</li>
			<li class="nav-item">
				<a href="#" class="nav-link">
					<i class="nav-icon fas fa-cog"></i>
					<p>
						에스앤에스 사용자 관리
						<i class="right fas fa-angle-left"></i>
					</p>
				</a>
				<ul class="nav nav-treeview">
					<li class="nav-item">
						<a href="/snsad/stafflist" class="nav-link">
							<i class="nav-icon fas fa-user-secret"></i>
							<p>
								사용자 관리
							</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/snsad/departmentlist" class="nav-link">
							<i class="nav-icon fas fa-user-secret"></i>
							<p>
								부서 관리
							</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/snsad/positionlist" class="nav-link">
							<i class="nav-icon fas fa-plug "></i>
							<p>
								직책 관리
							</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/snsad/ranklist" class="nav-link">
							<i class="nav-icon fas fa-plug "></i>
							<p>
								직급 관리
							</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/snsad/concurrentlist" class="nav-link">
							<i class="nav-icon fas fa-plug "></i>
							<p>
								겸직 관리
							</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/snsad/syncsvrlist" class="nav-link">
							<i class="nav-icon fas fa-plug "></i>
							<p>
								Sync 서버 관리
							</p>
						</a>
					</li>
				</ul>
			</li>

			<li class="nav-header">시스템 관리</li>
			<li class="nav-item">
				<a href="/admin/egmmetalist" class="nav-link">
					<i class="nav-icon fas fa-plug"></i>
					<p>
						Egmanager 자원관리
					</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/admin/restlist" class="nav-link">
					<i class="nav-icon fas fa-plug"></i>
					<p>
						REST_API 관리
					</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/admin/codemnglist" class="nav-link">
					<i class="far fa-circle nav-icon"></i>
					<p>코드 관리</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/snsad/mmslist" class="nav-link">
					<i class="far fa-circle nav-icon"></i>
					<p>알람 서비스 관리</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/help" class="nav-link">
					<i class="nav-icon fas fa-edit"></i>
					<p>
						OpenAPI Test
					</p>
				</a>
			</li>
			<li class="nav-item">
			<a href="/admin/notice" class="nav-link">
				<i class="nav-icon fas fa-edit"></i>
				<p>
					공지사항
				</p>
			</a>
			</li>

		</ul>
	</nav>
	<!-- /.sidebar-menu -->
</div>
</html>
